body {
  font-family: Helvetica;
  background-color: slategray;
}

div {
  background-color: silver;
  padding: 10px 20px;
  width: 80%;
  margin: auto;
}

header {
  font-size: 24px;
  font-weight: 600;
}
